@charset "UTF-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: Nunito-Light;
  src: url('../fonts/Nunito-Light.ttf');
} */

@layer base {
	::placeholder {
		@apply capitalize text-sm;
	}

	::-webkit-scrollbar {
		width: 10px;
	}
	
	::-webkit-scrollbar-track {
		background: #181818;
	}
	
	::-webkit-scrollbar-thumb {
		background: #6d6b6b;
		border-radius: 5px;
	}

	html {
		font-family: 'Open Sans', sans-serif;
	}

	body {
		@apply capitalize debug-screens bg-slate-900;
	}

	h1 {
		@apply text text-3xl sm:text-4xl italic font-semibold text-center sm:text-left;
	}

	h2 {
		@apply text text-2xl sm:text-3xl italic font-semibold text-center sm:text-left;
	}

	h3 {
		@apply text text-xl sm:text-2xl italic font-semibold text-center sm:text-left;
	}

	p {
		@apply text text-lg sm:text-xl font-semibold leading-8;
	}

	.bg-color{
		@apply bg-slate-800;
	}

	.text {
		@apply text-gray-300;
	}

	a,
	i,
	.link {
		@apply text cursor-pointer text-base font-medium transition-colors duration-150 hover:opacity-50;
	}

	.round {
		@apply rounded-xl;
	}

	label {
		@apply capitalize text-sm select-none;
	}

	main {
		@apply p-5 w-full space-y-8;
	}
}

@layer components {
  .navbar {
	  @apply bg-color flex justify-between items-center p-4;
  }

	.sidebar {
		@apply bg-color shadow z-10 p-5 w-48 absolute lg:static block;
	}

	.aside-items {
		@apply flex items-baseline gap-3 transition-colors duration-150;
	}

	.box {
		@apply bg-color round p-5 text-center sm:text-left;
	}

	.form-wrapper {
		@apply bg-color p-10 round w-[350px];
	}

	.form-control {
		@apply bg-color round block w-full py-2 px-3 round appearance-none;
	}

	.btn {
		@apply block w-max px-5 py-3 font-medium leading-5 text-center transition-colors duration-150  rounded-lg bg-sky-600 text-base hover:bg-sky-700 text-white focus:outline-none focus:ring-2 cursor-pointer capitalize hover:opacity-100;
	}

	/* .pagination {
		@apply flex justify-center items-center gap-2;
	}

	.page-item {
		@apply btn w-[initial] px-4 cursor-pointer;
	} */

	.modal-wrapper {
		@apply fixed inset-0 z-10 flex items-center justify-center
		 overflow-auto bg-black bg-opacity-50;
	}

	.modal-content {
		@apply text mx-auto max-w-sm round p-3 shadow-lg bg-color;
	}

	.dropdown-content {
		@apply bg-color absolute top-8 right-0 z-10 min-w-[170px] space-y-3 round p-2 shadow-md;
	}

	/* .invalid-input {
		@apply border-red-600 dark:text-gray-300 dark:bg-gray-700 focus:border-red-400 focus:outline-none focus:shadow-outline-red form-input;
	}

	.invalid-input-text {
		@apply text-xs text-red-600 dark:text-red-400;
	}

	.valid-input {
		@apply border-green-600 dark:text-gray-300 dark:bg-gray-700 focus:border-green-400 focus:outline-none focus:shadow-outline-green;
	}

	.valid-input-text {
		@apply text-xs text-green-600 dark:text-green-400;
	} */
}
